body {
  // font-family: helvetica,sans-serif;
  background: url('../images/bgBlurred.jpg') no-repeat;
  background-size: cover;
}
.job-create-title {
  text-align: center;
  padding: 20px;
}
.job-add-form {
  border-radius: 5px;
  box-shadow: 0px 3px 13px 0px rgba(115,115,115,1);
  background: white;
}
.form-item {
  padding: 10px;
}
.form-label-title {
  font-size: 16px;
  font-weight: bold;
}
.form-label-desc {}
.form-input {
  width: 100%;
  text-align: center;
}
.total-amount {
  font-weight: normal;
}
.ng-timepicker {
  z-index: 3;
}
.ng-timepicker > table > tbody > tr > td > input {
  padding: 0;
}
.ng-timepicker-input {
  width: 100px;
  text-align: center;
}

.map-view{
  padding: 20px 0 20px 0;
}

#map_canvas {
  margin: 0;
  color: #008000;
}

#map_canvas {
  min-height: 300px !important;
  min-width: 100% !important;
  position: relative !important;
}
