<div class="header-main">
  <a href="#/" class="col-xs-4">
    <div class="header-tile">
      POST JOBS
    </div>
  </a>
  <a href="#/current-jobs" class="col-xs-4">
    <div class="header-tile">
      TRACK JOBS
    </div>
  </a>
  <a href="#/analytics" class="col-xs-4">
    <div class="header-tile">
      ANALYTICS
    </div>
    <div class="active-tab"></div>
  </a>
</div>
<div class="container-fluid">
  <div class="container current-jobs__container">
    <h4>Jobs Requested</h4>
    <div id="chart"></div>
    <h4>Porters late per job</h4>
    <div id="chart2"></div>
    <h4>Cluster map of job locations :</h4>
    <clustered-map markers="map.markers" center="map.center" zoom="9"></clustered-map>
    <h4>Average % of porters late for jobs : {{percentageWorkersLate}}%</h4>
  </div>
</div>
