<div class="container-fluid">
<div class="job-create-title row">
  Create Job Form
</div>

  <div class="job-add-form container">
    <div class="form-item col-xs-12">
      <div class="form-label-title">
        Job Id :
      </div>
      <div class="form-label-desc">
      </div>
      <div class="job-id">
        #12434
      </div>
    </div>

    <div class="form-item col-sm-6">
      <div class="form-label-title">
        Job location
      </div>
      <div class="form-label-desc">
        The location where porter needs to arrive.
      </div>
      <input type="text" name="location" class="form-input" />
    </div>

    <div class="form-item col-sm-6">
      <div class="form-label-title">
        Time
      </div>
      <div class="form-label-desc">
        The time at which porter should arrive.
      </div>
      <input type="text" name="time" class="form-input"/>
    </div>

    <div class="form-item col-sm-6">
      <div class="form-label-title">
        No of porters
      </div>
      <div class="form-label-desc">
        The total number of porters required
      </div>
      <input type="text" name="noofporter" class="form-input" />
    </div>

    <div class="form-item col-sm-6">
      <div class="form-label-title">
        Amount
      </div>
      <div class="form-label-desc">
        The amount that will be paid to each porter
      </div>
      <input type="text" name="amount" class="form-input" />
    </div>

    <div class="form-item col-xs-12">
      <div class="form-label-title">
        Total Amount <span class="total-amount">Rs XYZ</span>
      </div>
    </div>


    <div class="form-item">
      <input class="btn btn-primary" type="button" value="create" />
    </div>

  </div>
</div>
